body{
    margin: 0;
    background-image: url("../img/philosophers-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    color: white;
    line-height: 1.5;
    font-size: 1.3rem;
    overflow: hidden;
}

body,html{
    height: 100%;
    width: 100%;
}

.navbar{
    background-color: transparent!important;
    color: #ffffff!important;
    padding: 0;
    line-height: 0;
}

.navbar-brand{
    font-family: 'Bitter', serif;
    margin-top: 43px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 1.5rem!important;
    color: #ffffff!important;
}

.navbar-item a{
    font-size: 1.5rem;
}

.navbar-toggler{
    padding: 0;
    margin-top: 43px;
    margin-right: 18px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
  border-color: transparent;
  outline: none;
}

.navbar-nav{
    background-color: rgb(0, 0, 0,0.8);
}

.navbar-collapse ul{
    margin-top: 10px;
    padding-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}

.nav-item{
    margin: 40px 30px 0;
}

.navbar-nav li{
    position: relative;
}

.home::before{
    content: "";
    position: absolute;
    width: 0;
    top: 16px;
    height: 0;
    opacity: 0;
    background: white;
}

.home:hover::before{
    content: "";
    position: absolute;
    width: 58px;
    top: 22px;
    height: 1px;
    opacity: 100%;
    background: white;
    transition: all 1s;
}

.philosophers::before{
    content: "";
    position: absolute;
    width: 122px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.gallery::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: white;
    top: 16px;
    opacity: 0;
    transition: all 1s;
}

.gallery:hover::before{
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.quiz::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: white;
    top: 16px;
    opacity: 0;
    transition: all 1s;
}

.quiz:hover::before{
    content: "";
    position: absolute;
    width: 44px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.about-us::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: white;
    top: 16px;
    opacity: 0;
    transition: all 1s;
}

.about-us:hover::before{
    content: "";
    position: absolute;
    width: 88px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

::-webkit-scrollbar {
    width: 0;
}

.remove{
    display: none;
}

.title{
    position: relative;
    top: 16px;
}

.title h1{
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-left: 50px;
    font-size: 2rem;
    margin-bottom: 10px; 
    margin-top: 0;
}

.container1{
    height: 100%;
    padding-top: 10px;
    background-color: rgb(0, 0, 0,0.4);
}

.names{
    position: relative;
    left: 200px;
}

.names::before{
    content: "";
    position: absolute;
    background:white;
    width: 2px;
    height: 500px;
    top: -25px;
    left: -20px;
}

.names p{
    margin-left: 0;
    margin-top: 50px;
    font-family: 'Bitter', serif;
    color: rgb(255, 255, 255,0.2);
    cursor: pointer;
    transition: all 1s;
    line-height: 0;
}

.names .socrates{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .aristotle{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .plato{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .parmenides{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .epictus{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .seneca{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .confucius{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .aquinas{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .descartes{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.names .foucault{
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.name{
    margin-top: 10px;
    margin-left: 20px;
}

.name h1{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Bitter', serif;
}

.line{
    position: relative;
    top: -10px;
}

hr{
    background-color: #ffffff;
    height: 2px;
}

.information{
    margin-top: -20px;
    height: 60vh;
    overflow: scroll;
    line-height: 1;
}

.information p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.information li{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.information h2{
    font-weight: 700;
    font-family: 'Bitter', serif;
}

.btn-secondary{
    background-color: transparent;
    border-color: #ffffff;
}

.remove{
    display: none;
}

@media (min-width: 768px){
    
    .name h1{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'Bitter', serif;
    }
    
    .title h1{
        font-family: 'Bitter', serif;
        font-weight: 700;
        margin-left: 50px;
        font-size: 4rem;
        margin-bottom: 0; 
        margin-top: 0;
    }
    
    .names{
        left: 20px;
        font-size: 1rem;
    }
    
    .names::before{
        content: "";
        position: absolute;
        background:white;
        width: 2px;
        height: 450px;
        top: -25px;
        left: -20px;
    }
    
    .names p{
        margin-left: 0;
        margin-top: 45px;
        font-family: 'Bitter', serif;
        color: rgb(255, 255, 255,0.2);
        cursor: pointer;
        transition: all 1s;
    }


}

@media (min-width: 992px){
    .navbar-brand{
        margin-top: 0;
    }

    .navbar-nav{
        background-color: transparent;
    }
    
    .names{
        left: 100px;
    }

    .names::before{
        content: "";
        position: absolute;
        background:white;
        width: 2px;
        height: 420px;
        top: -25px;
        left: -20px;
    }
    
    .names p{
        margin-left: 0;
        margin-top: 40px;
        font-family: 'Bitter', serif;
        color: rgb(255, 255, 255,0.2);
        cursor: pointer;
        transition: all 1s;
    }

    .information{
        height: 55vh;
        overflow: scroll;
        line-height: 1;
    }
}

@media (min-width:1440px){
    body{
        background-size: 100% 100%;
        background-position: center center;
    }

    .title{
        position: relative;
        top: 16px;
    }
    
    .title h1{
        font-family: 'Bitter', serif;
        font-weight: 700;
        margin-left: 50px;
        font-size: 4.5vw;
        margin-bottom: 0; 
        margin-top: 0;
    }
    
    .names{
        position: relative;
        left: 200px;
    }
    
    .names::before{
        content: "";
        position: absolute;
        background:white;
        width: 2px;
        height: 500px;
        top: -25px;
        left: -20px;
    }
    
    .names p{
        margin-left: 0;
        margin-top: 50px;
        font-family: 'Bitter', serif;
        color: rgb(255, 255, 255,0.2);
        cursor: pointer;
        transition: all 1s;
        font-size: 1.5rem;
    }
    
    .information{
        height: 60vh;
        overflow: scroll;
        line-height: 1;
    }
    
}

@media (min-width:2560px){
    body{
        font-size: 3rem;
        margin-top: 43px;
        margin-right: 20px;
    }

    .navbar-brand{
        margin-top: 43px;
        margin-left: 40px;
        font-size: 3rem!important;
    }

    .home::before{
        content: "";
        position: absolute;
        width: 0;
        top: 39px;
        height: 0;
        opacity: 0;
        background: white;
    }

    .home:hover::before{
        content: "";
        position: absolute;
        width: 130px;
        top: 40px;
        height: 5px;
        opacity: 100%;
        background: white;
    }
    
    .philosophers::before{
        content: "";
        position: absolute;
        width: 280px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .gallery::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background: white;
        top: 39px;
        opacity: 0;
        transition: all 1s;
    }
    
    .gallery:hover::before{
        content: "";
        position: absolute;
        width: 160px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .quiz::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background: white;
        top: 16px;
        opacity: 0;
        transition: all 1s;
    }
    
    .quiz:hover::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .about-us::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background: white;
        top: 39px;
        opacity: 0;
        transition: all 1s;
    }
    
    .about-us:hover::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }

    .title h1{
        font-family: 'Bitter', serif;
        font-weight: 700;
        margin-left: 50px;
        margin-bottom: -15px; 
        margin-top: 0;
    }

    .names p{
        font-size: 4rem;
        position: relative;
        left: 20px;
    }

    .names::before{
        content: "";
        position: absolute;
        background:white;
        width: 2px;
        height: 1000px;
        top: -25px;
        left: -20px;
    }
    
    .names p{
        margin-left: 0;
        margin-top: 105px;
        font-family: 'Bitter', serif;
        color: rgb(255, 255, 255,0.2);
        cursor: pointer;
        transition: all 1s;
    }

    .name h1{
        font-size: 5rem;
        font-weight: 700;
        font-family: 'Bitter', serif;
    }

    .information{
        margin-top: -20px;
        height: 70vh;
        overflow: scroll;
        line-height: 1;
    }
    
    .information p{
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
    }
    
    .information li{
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
    }
    
    .information h2{
        font-size: 6rem;
        font-weight: 700;
        font-family: 'Bitter', serif;
    }
    
    
}