body{
    margin: 0;
    background-image: url("../img/gallery-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    color: white;
    line-height: 1.5;
    font-size: 1.3rem;
}

body,html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar{
    background-color: transparent!important;
    color: #ffffff!important;
    padding: 0;
    line-height: 0;
}

.navbar-brand{
    font-family: 'Bitter', serif;
    margin-top: 43px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 1.5rem!important;
    color: #ffffff!important;
}

.navbar-item a{
    font-size: 1.5rem;
}

.navbar-toggler{
    padding: 0;
    margin-top: 43px;
    margin-right: 18px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
  border-color: transparent;
  outline: none;
}

.navbar-nav{
    background-color: rgb(0, 0, 0,0.8);
}

.navbar-collapse ul{
    margin-top: 10px;
    padding-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}

.nav-item{
    margin: 40px 30px 0;
}

.navbar-nav li{
    position: relative;
}

.home::before{
    content: "";
    position: absolute;
    width: 0;
    top: 16px;
    height: 0;
    opacity: 0;
    background: white;
}

.home:hover::before{
    content: "";
    position: absolute;
    width: 58px;
    top: 22px;
    height: 1px;
    opacity: 100%;
    background: white;
    transition: all 1s;
}

.philosophers::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 16px;
    opacity: 0;
    background: white;
    transition: all 1s;
}

.philosophers:hover::before{
    content: "";
    position: absolute;
    width: 122px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.gallery::before{
    content: "";
    position: absolute;
    width: 0;
    height: 00;
    top: 16px;
    opacity: 0;
    background: white;
    transition: all 1s;
}

.gallery:hover::before{
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.quiz::before{
    content: "";
    position: absolute;
    width: 44px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.about-us::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: white;
    top: 16px;
    opacity: 0;
    transition: all 1s;
}

.about-us:hover::before{
    content: "";
    position: absolute;
    width: 88px;
    height: 1px;
    top: 22px;
    opacity: 100%;
    background: white;
}

.title{
    position: relative;
    left: 20px;
    z-index: 1;
}

.title h1{
    margin-top: 20px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: -12px;
}

.quiz-box{
    background-color: rgb(0, 0, 0, 0.2);
    height: 100%;
    position: relative;
}

.quiz-box::before{
    content: "";
    position: absolute;
    top: 130px;
    height: 4px;
    width: 93vw;
    background-color: #ffffff;
}

.bullet{
    position: relative;
    top: 10px;
    left: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.bullet a{
    margin: 5px 3px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border: #ffffff solid 1px;
    padding: 10px 10px;
    transition: all 1s;
}

.question1{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question2{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question3{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question4{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question5{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question6{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question7{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question8{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.end1{
    background-color: #ffffff;
    color: black!important;
    transition: all 1s;
}

.question-container{
    position: relative;
    top: 30px;
}

.question-container h1{
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 700;
}

.question-container a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 20px 0 0 70px;
    font-size: 1rem;
}

.question2-container{
    position: relative;
    top: 30px;
}

.question2-container h1{
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.question2-container a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 20px 0 0 70px;
    font-size: 1rem;    
}

.question3-container{
    position: relative;
    top: 30px;
}

.question3-container h1{
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.question3-container a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 20px 0 0 70px;
    font-size: 1rem;
}

.question4-container{
    position: relative;
    top: 30px;
}

.question4-container h1{
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.question4-container a{
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 20px 0 0 70px;
    font-size: 1rem;
}

.question5-container{
    position: relative;
    top: 30px;
}

.question5-container label{
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.question5-container input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid #ffffff 1px;
    font-size: 1.5rem;
    width: 60%;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.question6-container{
    position: relative;
    top: 30px;
}

.question6-container label{
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.question6-container input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid #ffffff 1px;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    width: 50vw;
}

.question7-container{
    position: relative;
    top: 30px;
}

.question7-container label{
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 900;
}

.question7-container input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid #ffffff 1px;
    font-size: 1rem;
    width: 50vw;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.question8-container{
    position: relative;
    top: 30px;
}

.question8-container label{
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.lower{
    display: block;
}

.question8-container input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid #ffffff 1px;
    font-size: 1.5rem;
    width: 40vw;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.choice1{
    position: relative;
}

.choice1::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border: solid #ffffff 1px;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.select1{
    position: relative;
}

.select1::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.choice2{
    position: relative;
}

.choice2::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border: solid #ffffff 1px;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.select2{
    position: relative;
}

.select2::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.choice3{
    position: relative;
}

.choice3::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border: solid #ffffff 1px;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.select3{
    position: relative;
}

.select3::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.choice4{
    position: relative;
}

.choice4::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border: solid #ffffff 1px;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.select4{
    position: relative;
}

.select4::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100px;
    left: -40px;
    top: -3px;
    cursor: pointer;
    transition: all 1s;
}

.submit{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border: #ffffff solid 1px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 1s;
}

.submit:hover{
    background-color: rgba(151, 151, 151, 0.2);
}

.end-of-quiz{
    position: relative;
    top: 150px;
    text-align: center;
}

.end-of-quiz h1{
    display: inline-block;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;  
    font-weight: 700;
}

.h1{
    display: block; 
}

.end-of-quiz a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border: #ffffff solid 1px;
    padding: 10px 20px;
    transition: all 1s;
    cursor: pointer;
    display: block;
}

.end-of-quiz a:hover{
    background-color: rgba(151, 151, 151, 0.2);
}

.remove{
    display: none;
}
@media (min-width:360px){
    .question-container h1{
        font-size: 1.5rem;
    }
}

@media (min-width:600px){
    .title{
        left: 80px;
    }
    
    .title h1{
        margin-top: 0;
        font-family: 'Bitter', serif;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: -15px;
    }

    .quiz-box::before{
        top: 15px;
        left: 250px;
        width: 4px;
        height: 70vh;
    }

    .bullet{
        width: auto;
        top: 25px;
        height: 70vh;
        left: 10px;
    }

    .bullet a{
        color: #ffffff!important;
        display: block;
        font-size: 1.5rem;
        margin: 20px 0 20px 65px;
        border: none;
        padding: 0;
    }

    .bullet1{
        position: relative;
    }
    
    .bullet1::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet1::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }

    .question1{
        background-color: transparent;
        position: relative;
    }
    
    .question1::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question1::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet2{
        position: relative;
    }
    
    .bullet2::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet2::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }

    .question2{
        background-color: transparent;
        position: relative;
    }
    
    .question2::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question2::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet3{
        position: relative;
    }
    
    .bullet3::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet3::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question3{
        background-color: transparent;
    }
    
    .question3::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question3::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet4{
        position: relative;
    }
    
    .bullet4::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet4::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }

    .question4{
        background-color: transparent;
        position: relative;
    }
    
    .question4::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question4::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet5{
        position: relative;
    }
    
    .bullet5::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet5::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }

    .question5{
        background-color: transparent;
        position: relative;
    }
    
    .question5::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question5::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet6{
        position: relative;
    }
    
    .bullet6::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet6::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question6{
        background-color: transparent;
        position: relative;
    }

    .question6::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question6::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet7{
        position: relative;
    }
    
    .bullet7::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet7::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question7{
        background-color: transparent;
        position: relative;
    }

    .question7::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question7::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .bullet8{
        position: relative;
    }
    
    .bullet8::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .bullet8::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question8{
        background-color: transparent;
        position: relative;
    }

    .question8::before{
        content: "";
        width: 2px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 34px;
        left: -36px;
    }
    
    .question8::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .end{
        position: relative;
    }
    
    .end::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: #ffffff solid 1px;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }
    
    .end1{
        background-color: transparent;
        position: relative;
    }

    .end1::after{
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #ffffff;
        position: absolute;
        left: -50px;
        top: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    .question-container{
        width: auto;
        top: auto;
    }
    
    .question-container h1{
        font-size: 1.5rem;
        padding-top: 130px;
    }

    .question-container a{
        margin: 25px 0 30px 70px;
        font-size: 1rem;
    }

    .question2-container{
        top: auto;
        width: auto;
    }

    .question2-container h1{
        font-size: 1.5rem;
        padding-bottom: 45px;
        padding-top: 88px;
    }

    .question2-container a{
        margin: 15px 0 30px 70px;
        font-size: 1rem;
    }

    .question3-container{
        top: auto;
        width: auto;
    }

    .question3-container h1{
        padding-top: 88px;
        font-size: 1.5rem;
    }

    .question3-container a{
        margin: 15px 0 31px 70px;
        font-size: 1rem;
    }

    .question4-container{
        top: auto;
        width: auto;
    }

    .question4-container h1{
        padding-top: 90px;
    }

    .question4-container a{
        margin: 20px 0 30px 70px;
        font-size: 1rem;
    }

    .question5-container{
        top: 180px;
    }

    .question5-container label{
        top: 200px;
        font-size: 2rem;
        font-weight: 900;
    }

    .question5-container input{
        font-size: 2rem;
        width: 50%;
    }

    .question6-container{
        top: 150px;
        width: auto;
    }
    
    .question6-container label{
        font-size: 2rem;
        font-weight: 900;
        top: 140px;
        z-index: 0;
    }
    
    .question6-container input{
        font-size: 2rem;
        width: 50vw;
        left: 0;
    }

    .question7-container{
        top: 80px;
        width: auto;
    }
    
    .question7-container label{
        font-size: 1.5rem;
        top: 150px;
    }
    
    .question7-container input{
        font-size: 2rem;
        width: 50vw;
        top: 105px;
    }

    .question8-container{
        top: 130px;
        width: auto;
    }
    
    .question8-container label{
        font-size: 2rem;
        font-weight: 900;
    }
    
    .question8-container input{
        font-size: 2rem;
        width: 40vw;
    }
    
    .end-of-quiz{
        top: 180px;
    }
    
    .end-of-quiz h1{
        font-size: 2rem;
    }
    
    .end-of-quiz a{ 
        padding: 10px 20px;
    }
}

@media (min-width:992px){
    .quiz-box::before{
        height: 68vh;
    }

    .navbar-brand{
        margin-top: 0;
    }

    .navbar-nav{
        background-color: transparent;
    }

    .bullet{
        top: 5px;
        height: 70vh;
    }

    .question-container{
        top: -70px;
    }

    .question-container h1{
        font-size: 2.5rem;
    }

    .question-container a{
        font-size: 1.2rem;
    }

    .question2-container{
        top: -10px;
    }

    .question2-container h1{
        font-size: 2.5rem;
        padding-top: 88px;
    }

    .question2-container a{
        margin: 15px 0 30px 70px;
        font-size: 1.2rem;
    }

    .question3-container{
        top: -10px;
    }

    .question3-container h1{
        font-size: 2.5rem;
        padding-top: 88px;
    }

    .question3-container a{
        margin: 15px 0 30px 70px;
        font-size: 1.2rem;
    }

    .question4-container{
        top: -10px;
    }

    .question4-container h1{
        font-size: 2.5rem;
        padding-top: 88px;
    }

    .question4-container a{
        margin: 15px 0 30px 70px;
        font-size: 1.2rem;
    }

    .question5-container label{
        font-size: 2.5rem;
        font-weight: 900;
    }

    .question5-container input{
        font-size: 2.5rem;
        width: 50%;
    }

    .question6-container{
        width: auto;
    }
    
    .question6-container label{
        font-size: 2rem;
        font-weight: 900;
        top: 140px;
        z-index: 0;
    }
    
    .question6-container input{
        font-size: 2rem;
        width: 50vw;
        left: 0;
    }

    .question7-container{
        top: 30px;
        width: auto;
    }
    
    .question7-container label{
        font-size: 2rem;
        top: 150px;
    }
    
    .question7-container input{
        font-size: 2rem;
        width: 50vw;
        top: 105px;
    }

    .question8-container{
        top: 130px;
        width: auto;
    }
    
    .question8-container label{
        font-size: 2rem;
        font-weight: 900;
    }
    
    .question8-container input{
        font-size: 2rem;
        width: 40vw;
    }
    
    .end-of-quiz{
        top: 180px;
        left: -40px;
    }
    
    .end-of-quiz h1{
        font-size: 2rem;
    }

    .choice1::before{
        top: 0;
    }
    
    .select1::before{
        top: 0;
    }
    
    .choice2::before{
        top: 0;
    }
    
    .select2::before{
        top: 0;
    }
    
    .choice3::before{
        top: 0;
    }
    
    .select3::before{
        top: 0;
    }
    
    .choice4::before{
        top: 0;
    }
    
    .select4::before{
        top: 0;
    }

    .end-of-quiz a{
        display: unset;
    }
    
}

@media (min-width:1440px){
    body{
        background-size: 100% 100%;
        background-position: center center;
    }

    .quiz-box::before{
        top: 15px;
        left: 350px;
    }

    .bullet{
        left: 120px;
    }

    .question-container{
        left: -100px;
    }

    .question2-container{
        left: -100px;
    }

    .question3-container{
        left: -100px;
    }

    .question4-container{
        left: -100px;
    }

    .question5-container{
        left: -100px;
    }

    .question6-container{
        left: -100px;
    }

    .question7-container{
        left: -100px;
        top: 100px;
    }

    .question8-container{
        left: -100px;
        top: 150px;
    }

    .end-of-quiz h1{
        font-size: 5rem;
    }

    .end-of-quiz a{
        top: 100px;
        left: 420px;
        font-size: 1.5rem;
    }
}


@media (min-width:2560px){
    body{
        font-size: 3rem;
        margin-top: 43px;
        margin-right: 20px;
    }

    .navbar-brand{
        margin-top: 43px;
        margin-left: 40px;
        font-size: 3rem!important;
    }

    .home::before{
        content: "";
        position: absolute;
        width: 0;
        top: 39px;
        height: 0;
        opacity: 0;
        background: white;
    }

    .home:hover::before{
        content: "";
        position: absolute;
        width: 130px;
        top: 40px;
        height: 5px;
        opacity: 100%;
        background: white;
    }
    
    .philosophers::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 39px;
        opacity: 0;
        background: white;
    }
    
    
    .philosophers:hover::before{
        content: "";
        position: absolute;
        width: 280px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .gallery::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background: white;
        top: 39px;
        opacity: 0;
        transition: all 1s;
    }
    
    .gallery:hover::before{
        content: "";
        position: absolute;
        width: 160px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .quiz::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }
    
    .about-us::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        background: white;
        top: 39px;
        opacity: 0;
        transition: all 1s;
    }
    
    .about-us:hover::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 5px;
        top: 40px;
        opacity: 100%;
        background: white;
    }

    .quiz-box::before{
        left: 800px;
        top: 90px;
    }

    .title h1{
        margin-top: 50px;
        font-size: 10rem;
        margin-bottom: -45px;
    }

    .bullet{
        top: 55px;
        height: 70vh;
        left: 200px;
    }

    .bullet a{
        color: #ffffff!important;
        display: block;
        font-size: 4.5rem;
        margin: 20px 0 20px 150px;
        border: none;
        padding: 0;
    }
    
    .bullet1::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet1::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }

    .question1::before{
        content: "";
        width: 5px;
        height: 26.5px;
        background-color: #ffffff;
        position: absolute;
        top: 110px;
        left: -70px;
    }
    
    .question1::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet2::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet2::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }

    .question2::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question2::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet3{
        position: relative;
    }
    
    .bullet3::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet3::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question3::before{
        width: 5px;
        top: 110px;
        left: -70px;
    }
    
    .question3::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet4::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet4::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }

    .question4::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question4::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet5::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet5::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }

    .question5::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question5::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet6::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet6::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question6::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question6::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet7::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet7::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
 
    .question7::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question7::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .bullet8::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .bullet8::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question8::before{
        width: 5px;
        height: 26.5px;
        top: 110px;
        left: -70px;
    }
    
    .question8::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .end::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }
    
    .end1::after{
        width: 100px;
        height: 100px;
        left: -120px;
        top: 10px;
    }

    .question-container{
        top: 200px;
        left: 10px;
    }
    
    .question-container h1{
        font-size: 5rem;
        padding-top: 130px;
        padding-bottom: 100px;
    }

    .question-container a{
        margin: 25px 0 30px 200px;
        font-size: 3rem;
    }

    .question2-container{
        top: 300px;
        left: 10px;
    }

    .question2-container h1{
        font-size: 5rem;
        padding-bottom: 45px;
        padding-top: 88px;
    }

    .question2-container a{
        margin: 15px 0 30px 200px;
        font-size: 3rem;
    }

    .question3-container{
        top: 300px;
        left: 10px;
    }

    .question3-container h1{
        padding-top: 88px;
        font-size: 5rem;
        padding-bottom: 50px;
    }

    .question3-container a{
        margin: 15px 0 30px 200px;
        font-size: 3rem;
    }

    .question4-container{
        top: 280px;
        left: 10px;
    }

    .question4-container h1{
        padding-top: 88px;
        font-size: 5rem;
        padding-bottom: 50px;
    }

    .question4-container a{
        margin: 15px 0 30px 200px;
        font-size: 3rem;
    }

    .question5-container{
        top: 400px;
        left: 10px;
    }

    .question5-container label{
        top: 200px;
        font-size: 5rem;
        font-weight: 900;
    }

    .question5-container input{
        font-size: 5rem;
        width: 50%;
        border-bottom: 5px solid #ffffff;
    }

    .question6-container{
        top: 400px;
        left: 10px;
    }
    
    .question6-container label{
        top: 200px;
        font-size: 5rem;
        font-weight: 900;
    }
    
    .question6-container input{
        font-size: 5rem;
        width: 50%;
        border-bottom: 5px solid #ffffff;
    }

    .question7-container{
        top: 150px;
        left: 10px;
    }
    
    .question7-container label{
        top: 200px;
        font-size: 5rem;
        font-weight: 900;
    }
    
    .question7-container input{
        font-size: 5rem;
        width: 50%;
        border-bottom: 5px solid #ffffff;
    }

    .question8-container{
        top: 350px;
        left: 10px;
    }
    
    .question8-container label{
        top: 200px;
        font-size: 5rem;
        font-weight: 900;
    }
    
    .question8-container input{
        font-size: 5rem;
        width: 50%;
        border-bottom: 5px solid #ffffff;
    }

    .submit{
        font-size: 3rem;
        padding: 20px 40px;
    }

    .choice1::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .select1::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .choice2::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .select2::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .choice3::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .select3::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .choice4::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .select4::before{
        top: -5px;
        left: -100px;
        height: 80px;
        width: 80px;
    }
    
    .end-of-quiz{
        top: 500px;
    }
    
    .end-of-quiz h1{
        font-size: 5rem;
    }
    
    .end-of-quiz a{ 
        font-size: 3rem;
        padding: 20px 40px;
    }
}